<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Download</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		-->
			
	<script src='/js/filesize.js'></script>
	
</head>
<body>
	<div class='container'>
		<h2>
			<img src='/favicon-32x32.png'>&nbsp;
			Download Options
		</h2>
		<hr/>
		
		<input type="hidden" id="show" value='<%=id %>'>
		  
		<div id='results' class='container responsive'>
		</div>
		<br/>
		
		<h4>Download</h4>
		<div id='downloads' class='container responsive'>
		</div>
	</div>
	
<script>
	var downloads = <%- JSON.stringify(downloads) %>
	
	var dhtml = ""

	function DownloadKey(hashArray) {
		if( !hashArray) return
		if( typeof hashArray != 'object') {
			if( typeof hashArray == 'string' ) {
				if( hashArray.indexOf("http")>=0 ) {
					dhtml += "<a href='" + hashArray + "'>http download</a>"
				} else {
					dhtml += hashArray
				}
			} else if (typeof hashArray == 'number') {
				dhtml += filesize(hashArray)
			} else {
				console.log(typeof hashArray)
			}
			return
		}
			
		if( hashArray.constructor == Array ) {
			for( var a in hashArray ) {
				var h = hashArray[a]
				DownloadKey(h)
			}
			return
		}
		
		var keys = Object.keys(hashArray)
		if( keys  ) {	//
			dhtml += "<table class='table table-striped table-condensed'>"
			for( var k in keys ) {
				//console.log("d", keys[k])
				
				dhtml += "<tr><td>"+keys[k]+"</td><td>"
				
				DownloadKey(hashArray[keys[k]])
				
				dhtml += "</td></tr>"
			}
			dhtml += "</table>"
		}
		return
	}
	
	function Downloads() {
		var keys = Object.keys(downloads)
		dhtml = "<div class='panel-group id='accordion' role='tablist' aria-multiselectable='true'>"
		// dhtml = "<table class='table table-condensed'>"
		for( var k in keys ) {
			dhtml += "<div class='panel panel-default'>"
			  dhtml += "<div class='panel-heading' role='tab' id='heading_"+ k+"'>"
				dhtml += "<h4 class='panel-title'>"
				dhtml += "<a  role='button' data-toggle='collapse' data-parent='#accordion' href='#collapse_"+ k +"' aria-expanded='true' aria-controls='collapse_"+k+"'>"
				dhtml += keys[k]
				dhtml += "</a></h4>"
			  dhtml += "</div>"
			
			//console.log("key", k, keys[k])
			//dhtml += "<tr><td>"+keys[k]+"</td>"
			//dhtml += "<td>"
			
			dhtml += "<div id='collapse_"+k+"' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading_"+k+"'>"
      	  	dhtml += "<div class='panel-body'>"
			DownloadKey(downloads[keys[k]])
			dhtml += "</div>"	//collapse
			dhtml += "</div>"	// card-block
			
			dhtml += "</div>"	// end card
			//dhtml += "</td>"
			//dhtml += "</tr>"
		}
		dhtml += "</div>" // accordion
		//dhtml += "</table>"
		$("#downloads").html(dhtml)	
	}
	
	function Search(value) {
		console.log("searching...", value)
		$.get("/eo1?scene_id="+value+"&limit=1", function(data) {
			//console.log(data)
			html = ""
			for( var f in data.features ) {
				var feature = data.features[f]
				//console.log(JSON.stringify(feature))
				html += "<div class='well col-md-6' >"
				html += "<table><tr><td width='40'>"
				html += "<a href='" + feature.properties.thumbnail +"'>"
				html += "<img src='"+feature.properties.thumbnail+"' class='thumbnail' height='300'/></a> </td>"
				html += "<td><table class=''>"
				html += "<tr><td width='80'>Product</td><td>"
				html += feature.properties.satellite_name +" &nbsp;"
				html += feature.properties.instrument +" &nbsp;"
				html += feature.properties.level +" &nbsp;"
				html += "</td></tr>"
				html += "<tr><td>Scene</td><td>" 
				html += feature.properties.scene_id +"</td></tr>"
				html += "<tr><td>Date</td><td>" 
				html += feature.properties.date +"</td></tr>"
				html += "<tr><td>Attribution</td><td>"
				html += feature.properties.attribution +"</td></tr>"
				html += "<tr><td>Source</td><td>" 
				html += feature.properties.source +"</td></tr>"
				html += "<tr><td>License</td><td>" 
				html += feature.properties.license +"</td></tr>"
				html += "<tr><td>Metadata</td><td>"
				html += "<a href='" +feature.properties.metadata +"'>metadata</a></td></tr>"
				
				//html += "<tr><td>Actions</td><td>"
				//html += "<a href='/download/" +feature.properties.scene_id + "_" + feature.properties.level +"'>download</a><br/>"
				//html += "<a href='/process/" +feature.properties.scene_id + "_" + feature.properties.level +"'>process</a><br/>"
				//html += "</td></tr>"
				
				html += "</tr></table>"
				html += "</td></tr></table>"
				html += "</div>"
			}
			$("#results").html(html)
		})
		
		Downloads()
	}
	
	var val = $('#show').val()
	if( val.indexOf("_")>=0) {
		//val = val.split("_")[0]
	}
	if( val ) {
		Search(val)
	}
</script>
	
	
</body>
</html>