<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
</head>
<body>
	<div class='container'>
		<h2>		
			<img src='/favicon-32x32.png'>&nbsp;
			HyperChain Market Place
		</h2>
		<hr/>
		
		<div class="form-group row">
		  <label for="example-search-input" class="col-2 col-form-label">Search</label>&nbsp; or &nbsp;	<a href='/map'><i class='glyphicon glyphicon-globe'></i></a>

		  <div class="col-10">
			  <input class="form-control" type="search" placeholder="Search by attribute..." id="search" value='<%=id %>'>
		  </div>
		</div>
		<br/>
		<div id='results' class='container responsive'>
			
		</div>
	</div>
	
<script>
	function Search(value) {
		//console.log("searching...", value)
		$.get("/eo1?scene_id="+value+"&limit=10", function(data) {
			console.log("Results", JSON.stringify(data))
			var html = "found: " + data.meta.found + "<br/>"
			for( var f in data.features ) {
				var feature = data.features[f]
				//console.log(JSON.stringify(feature))
				html += "<div class='well col-md-6' >"
				html += "<table><tr><td width='50'>"
				html += "<a href='" + feature.properties.thumbnail +"'>"
				html += "<img src='"+feature.properties.thumbnail+"' class='thumbnail' height='300'/></a> </td>"
				html += "<td><table class=''>"
				html += "<tr><td width='80'>Product</td><td>"
				html += feature.properties.satellite_name +" &nbsp;"
				html += feature.properties.instrument +" &nbsp;"
				html += feature.properties.level +" &nbsp;"
				html += "</td></tr>"
				html += "<tr><td>Scene</td><td>" 
				html += feature.properties.scene_id +"</td></tr>"
				html += "<tr><td>Date</td><td>" 
				html += feature.properties.date +"</td></tr>"
				html += "<tr><td>Attribution</td><td>"
				html += feature.properties.attribution +"</td></tr>"
				html += "<tr><td>Source</td><td>" 
				html += feature.properties.source +"</td></tr>"
				html += "<tr><td>License</td><td>" 
				html += feature.properties.license +"</td></tr>"
				html += "<tr><td>Metadata</td><td>"
				html += "<a href='" +feature.properties.metadata +"'>metadata</a></td></tr>"
				
				html += "<tr><td>Actions</td><td>"
				html += "<a href='/download/" +feature.properties.scene_id + "_" + feature.properties.level +"'>download</a><br/>"
				html += "<a href='/process/" +feature.properties.scene_id + "_" + feature.properties.level +"'>process</a><br/>"
				html += "</td></tr>"
				
				html += "<tr><td>Nearby</td><td>"
				html += feature.properties.nearBy + "," + feature.properties.adminName + "</td></tr>"
				html += "<tr><td>State, Country</td><td>"
				html += feature.properties.adminName + ", " + feature.properties.countryName + "</td></tr>"
				
				html += "<tr><td>Footprints</td><td>"
				html += "<a href='/map/" + feature.properties.scene_id + "'><i class='glyphicon glyphicon-globe'></i></a></td></tr>"
				
				html += "</tr></table>"
				html += "</td></tr></table>"
				
				// html += "<a href='<%= host %>/show/" + feature.properties.scene_id +"#disqus_thread' data-disqus-identifier='"
				// html += feature.properties.scene_id +"'> Show "+ feature.properties.scene_id +"</a>"
				html += "<a href='<%= host %>/show/" + feature.properties.scene_id +"'> Show "+ feature.properties.scene_id +"</a>"
				
				html += "</div>"
			}
			$("#results").html(html)
		})
	}
	
	$('#search').keypress(function(e) {
		if(e.which == 13) {
			jQuery(this).blur();
			Search($('#search').val())
		}
	});	
	var val = $('#search').val()
	if( val ) {
		Search(val)
	}
</script>
<!--
<script id="dsq-count-scr" src="https://hyperion-l1u.disqus.com/count.js" async></script>
-->
</body>
</html>